mixin createProduct(product)
  .col-md-4
              .card(style="width: 18rem;")
                img(src=`/images/${product.imageUrl}` alt=`${product.description}`).card-img-top
                .card-body
                  h5.card-title.b
                    a(href=`/products/${product.id}`) #{product.name}
                  p.card-text #{product.description}
                  small.text-muted #{product.price} $
                .card-footer
                  
                  a(href=`/products/${product.id}`).btn.btn-primary Details
                  a(href="#").btn.btn-primary.float-end Add to Cart